.container {
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin: auto;
}

.box {
    width: 15rem;
    
}

.box h2 {
    margin-left: 1rem;
}

.work_btns {
    width: 100%;
}

.work_btns button {
    margin: auto;
}

.box_info {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bank {
    background-color: green;
}

.work {
    background-color: blue;
}

.laptops {
    background-color: red;
}



.laptops-specs_span {
    display: block;
}

.showcase {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 1rem;
    width: 66%;
}

#showcase-img {
    height: 12rem;
}

.showcase-product {
    width: 40%;
    margin-left: 1rem;
}

.showcase-checkout {
    width: 15%;
    margin-right: 1rem;
}